.doc {
  background-color: #fff;
  overflow-y: scroll;
  justify-content: flex-start;

  &__wrapper {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  &__close {
  }

  & h1 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  & p {
    font-size: rem(18);
    line-height: rem(24);

    & + p {
      margin-top: 20px;
    }
  }

  & li {
    list-style: auto;

    & + li {
      margin-top: 10px;
    }
  }

  & ul {
    padding-left: revert;

    & + p {
      margin-top: 20px;
    }
  }

  & + h3 {
    margin-top: 60px;
  }

  & h3 {
    font-size: rem(20);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  &__line {
    height: 1px;
    display: block;
    background-color: #e0e3ee;
    box-sizing: border-box;
    margin-top: 33px;
    margin-bottom: 33px;
  }

  & hr + p {
    color: #90969e;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
