.faq {
  @include margin-top(180px);
  @include margin-bottom(180px);

  @include mw($tb) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &__inner {
  }

  &__title {
    @include margin-bottom(80px);
    color: rgba(#20262f, 0.2);
    max-width: 746px;
  }

  &__list {
  }

  &__item {
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px 100px 100px 8px;

    overflow: hidden;
    transition: border-radius 0.8s;

    @include mw($tb) {
      border-radius: 0;
      border: none;
    }

    & + li {
      margin-top: 20px;

      @include mw($tb) {
        margin-top: -2px;

        &.is-active {
          padding-bottom: 0;
        }
      }
    }

    &.is-active {
      border-radius: 8px;
      padding-bottom: 24px;
    }
  }

  &__header {
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    @include padding-left(40px);
    cursor: pointer;

    @include hocus() {
      & .plus__icon {
        stroke: #ef7d00;
      }
    }

    @include mw($tb) {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
    }

    &[aria-expanded="true"] .faq__plus {
      opacity: 0;

      @include mw($tb) {
        opacity: 1;

        & span {
          background-image: url("../../img/svg/minus-tb.svg");
        }
      }
    }

    &-text {
      @include font-size(32px);
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #20262f;
      flex-grow: 1;
      max-width: 445px;
      text-align: left;
      margin-right: 20px;

      @include mw($tb) {
        @include font-size(18px);
        min-height: 86px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid #e6e6e6;
        padding: 16px;
        margin-right: 0;
        flex-grow: 1;
        max-width: none;
      }
    }
  }

  &__plus {
    transition: opacity 0.3s;

    @include mw($tb) {
      width: 14%;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      margin-left: -1px;

      & span {
        padding-top: 0;
        flex-grow: 1;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid #e6e6e6;
        background-image: url("../../img/svg//plus-tb.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      & svg {
        display: none;
      }
    }
  }

  &__panel {
    @include padding-left(30px);
    max-width: 80%;

    @include mw($tb) {
      max-width: none;
      padding-left: 0;
      // padding: 6px 16px;
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      margin-top: -1px;
    }
  }

  &__text {
  }
}
.container {
}
.title {
}
.ac {
}
.ac-header {
}
.ac-trigger {
}
.plus {
  &__inner {
  }

  &__icon {
  }
}
.ac-panel {
}
.ac-text {
}

.ac .ac-panel .faq__text {
  @include font-size(26px);
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #20262f;

  @include mw($tb) {
    font-size: 18px;
    line-height: 110%;
    color: #9d9d9d;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    &:first-of-type {
      padding-top: 16px;
    }

    &:last-of-type {
      padding-bottom: 16px;
    }
  }

  @include mw($ph) {
    font-size: 14px;
  }
}
