.reviews {
  @include padding-top(180px);
  &__app {
  }
  &__inner {
  }

  &__title {
    @include margin-bottom(80px);
  }

  & .sw-app {
    width: auto !important;

    @include mw($ph) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  &__swiper {
  }

  &__pagination {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 3px;
  }

  &__bullet {
    border-radius: 50px;
    height: 4px;

    background-color: #d2d4d5;
    transition: 0.3s;

    &--active {
      background-color: #ff794c;
    }
  }
}

.reviews-slider {
  width: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 11px;
    grid-column-gap: 11px;
    padding: 11px;
    box-sizing: border-box;

    @include mw($ph) {
      display: flex;
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: (0px 4px 24px rgba(0, 0, 0, 0.15));
    padding: 11px;

    @include mw($ph) {
      box-shadow: none;
      overflow: hidden;
    }
  }

  &__img {
  }

  &__prev {
  }

  &__next {
  }
}

.reviews-slide {
  &__inner {
    flex-grow: 1;

    @include mw($ph) {
      box-shadow: (0px 4px 24px rgba(0, 0, 0, 0.15));
    }
  }
}
