.ac .ac-trigger {
  // width: 100%;

  // display: block;
  // cursor: pointer;

  // transition: color 0.25s ease;
  // position: relative;
}

.ac .ac-panel {
  overflow: hidden;
}
.ac .ac-panel .ac-text {
  font: 15px/24px "Arial", sans-serif;
  color: #111;
  padding: 10px;
  margin: 0;
}
.ac.js-enabled .ac-panel {
  visibility: hidden;
}
.ac.is-active .ac-panel {
  visibility: visible;
}

.team {
  background-color: #f9f9f9;
  @include padding-bottom(150px);
  @include padding-top(180px);

  &__inner {
  }

  &__title {
    @include margin-bottom(80px);
    color: rgba(#20262f, 0.2);
  }

  &__list {
  }

  &__item {
    & + li {
      margin-top: 16px;

      @include mw($tb) {
        margin-top: 8px;
      }
    }
  }
}
.container {
}
.title {
}
.accordion-container {
}

.team-item {
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    @include mw($tb) {
      flex-direction: column;
    }
  }

  &__btn {
  }

  &__panel {
  }
}
.ac-header {
}
.unit {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px 100px 100px 8px;
  width: 100%;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  @include hocus() {
    & .plus__icon {
      stroke: #ef7d00;
    }
  }

  @include mw($tb) {
    padding: 0;
    background-color: transparent;
    border-radius: 0%;
    display: flex;
  }

  &__inner {
    display: flex;
    width: 100%;
    align-items: center;

    @include mw($tb) {
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      padding: 16px;
      padding-right: 0;
      align-items: stretch;
      width: 86%;
    }
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;

    @include mw($ph) {
      width: 80px;
    }
  }

  &__img-inner {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
  }

  &__name {
    @include font-size(32px);
    color: #20262f;
    margin-bottom: auto;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 350;
    max-width: 240px;
    text-align: left;

    @include mw($tb) {
      margin-bottom: 8px;
    }

    @include mw($ph) {
      @include font-size(18px);
    }
  }

  &__practice {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #20262f;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;

    & span {
      text-align: left;
    }
  }

  &__career {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #9d9d9d;

    @include mw($tb) {
      text-align: left;
    }

    @include mw($ph) {
      @include font-size(12px);
    }
  }

  &__spec-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #9d9d9d;
    margin-bottom: 12px;
    margin-left: 4px;
  }

  &__spec {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    margin: 4px;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 8px;
  }
}

.unit-box {
  display: flex;
  flex-grow: 1;
  max-width: 930px;
  margin-left: 2.5%;
  margin-right: auto;

  @include mw($tb) {
    margin-left: 16px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    max-width: 340px;

    @include mw($tb) {
      max-width: none;
    }
  }

  &__right {
    flex-grow: 1;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mw($tb) {
      &--dt {
        display: none;
      }
    }
  }
}

.plus {
  width: 9.5%;

  @include mw($empty) {
    width: 80px;
    flex-shrink: 0;
  }

  &--dt {
    @include mw($tb) {
      display: none;
    }
  }

  &--tb {
    display: none;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;

    @include mw($tb) {
      display: flex;
      flex-direction: column;
      width: 14%;
      height: auto;
      margin-left: -1px;
      flex-shrink: 0;
    }
  }

  &__inner {
    width: 100%;
    padding-top: 100%;
    display: block;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 50%;

    &--tb {
      border-radius: 0%;
      flex-grow: 1;
      background-color: transparent;
      background-image: url("../../img/svg/plus-tb.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding-top: 0;
    }
  }

  &__icon {
    position: absolute;
    width: 28%;
    height: 28%;
    stroke: $text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: stroke 0.3s;
  }
}

.diploma {
  width: 26%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: -1px;
    padding: 16px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @include mw($tb) {
      align-items: flex-start;
      position: relative;

      & .swiper-pagination {
        text-align: right;
        top: 0;
        bottom: auto;
      }
    }
  }

  &__titile {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #9d9d9d;
    margin-bottom: 24px;

    @include mw($tb) {
      margin-bottom: 16px;
      position: absolute;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;

    @include mw($tb) {
      padding-bottom: 0;
      padding-top: 40px;
    }
  }

  &__list {
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  &__img {
    display: block;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.unit-mobile {
  display: none;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 16px;
  padding-left: 12px;
  margin-top: -1px;
  flex-direction: column;
  flex-grow: 1;

  &__practice {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #20262f;
    margin-bottom: 12px;
    text-align: left;
  }

  &__spec {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.04em;
    margin: 4px;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 8px;
    color: #20262f;
  }
}

[aria-expanded="true"] {
  width: calc(74% - 8px);

  @include mw($tb) {
    width: 100%;
    flex-wrap: wrap;
  }

  .plus--tb {
    @include mw($tb) {
      display: flex;
    }

    & span {
      background-image: url("../../img/svg/minus-tb.svg");
    }
  }

  .unit-mobile {
    @include mw($tb) {
      display: flex;
    }
  }

  .unit {
    &__box {
      flex-direction: column;
      margin-right: 0;
      width: calc(62% - 8px);
      margin-left: 0;
      flex-grow: 0;

      @include mw($tb) {
        width: 100%;
        margin-left: 16px;
      }
    }

    &__plus {
      display: none;
    }

    &__name {
      max-width: none;
      margin-bottom: 8px;
    }

    &__inner {
      align-items: stretch;
      justify-content: space-between;
      flex-grow: 1;
    }

    &__practice {
      display: flex;

      @include mw($tb) {
        &--dt {
          display: none;
        }
      }
    }
  }

  .unit-box {
    &__left {
      flex-grow: 0;
      max-width: none;
      min-height: 193px;
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 8px;
      padding: 24px;

      @include mw($tb) {
        min-height: auto;
        border-radius: 0%;
        margin-bottom: 0;
        padding: 0;
      }
    }

    &__right {
      flex-grow: 1;
      border-radius: 8px;
      background-color: #ffffff;
      margin-left: 0;
      padding: 24px;
      padding-left: 21px;
    }
  }
}
.swiper-pagination-bullet {
  background-color: $text;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
}

.swiper-pagination-bullet-active {
  background-color: #ef7d00;
}
