section.modal.modal--success.success(hidden)
	.success__wrapper

		.success__inner.container
			button.modal__close.modal-close.success__close(type="button" aria-label="закрыть окно")
			.success__thanks.thanks
				figure.thanks__img
				h2.thanks__title Спасибо, Ваша заявка принята
				p.thanks__text В ближайшее время мы свяжимся с Вами и уточним все необходимые детали.
