section.modal.modal--err.err(hidden)
	.err__wrapper

		.err__inner.container
			button.modal__close.modal-close.err__close(type="button" aria-label="закрыть окно")
			.err__thanks.thanks
				figure.thanks__img
				h2.thanks__title Упс !
				p.thanks__text Что-то пошло не так! Попробуйте отправить форму позже или свяжитесь с нами по телефону.
