.quick
	.quick__block
		.quick__block-inner
			figure.quick__img-wrap
			p.quick__text Задайте свой вопрос специалисту, прямо сейчас и
				|
				|
				span получите ответ в&nbsp;течение 1&nbsp;минуты
				|
				| и скидку на&nbsp;наши услуги



	ul.quick__social.social
		li.social__item
			.social__inner
				a.social__link.social__link--tg(href="https://telegram.me/YourUsernameHere" aria-label="мы в телеграмм" target="_blank")

		li.social__item
			.social__inner

				a.social__link.social__link--whatsapp(href="https://wa.me/79131765996?text=Здравствуйте%2C+у+меня+есть+вопрос" aria-label="мы в вотсап" target="_blank")

		li.social__item
			.social__inner

				a.social__link.social__link--viber(href="https://vibr.cc/79131765996" aria-label="мы в вайбер" target="_blank")

		li.social__item
			.social__inner
				a.social__link.social__link--phone(href="tel:+78002007461" aria-label="наш телефон")

	a.quick__link.consultation-btn(href="#") Оставить заявку
