- let n = 0
- const favFolder = 'fav';







- const headerLink = [{text: 'Услуги',	link: 'services'}, {text: 'Процесс',	link: 'process'}, {text: 'Команда',	link: 'team'}, {text: 'Отзывы',	link: 'reviews'}, {text: 'Контакты',	link: 'contacts'}];

-const test = ['j','ghgh']

-const skill1 = {text: 'для нотариуса: (ОТЧЕТ)',	price: 'от 1000 р.'};
-const skill2 = {text: 'ущерба: ( ПОЖАР / ЗАЛИВ )',	price: 'от 7000 р.'};
-const skill3 = {text: 'ущерба: ДТП',	price: 'от 3000 р.'};
-const skill4 = {text: '/ отчет ( машины, квартиры, дом с земельным участком )',	price: 'от 3000 р.'};
-const skill5 = {text: '/ краткая справка ( машины, квартиры, дом с земельным участком )',	price: 'от 1500 р.'};
-const skill6 = {text: 'движимого имущества',	price: 'от 1000 р.'};
-const skill7 = {text: 'недвижимого имущества',	price: 'от 2000 р.'};
-const skill8 = {text: 'бизнеса / акций',	price: 'от 4000 р.'};
-const skill9 = {text: 'оборудования',	price: 'от 1000 р.'};

-const skill = [skill1, skill2, skill3, skill4, skill5, skill6, skill7, skill8, skill9]

-const process = [{title: 'Знакомство',text:'Оставьте заявку или позвоните в любой форме на сайте',name:'familiarity'},{title: 'Документы',text:'Отправьте документы и\u00A0фото объекта или мы приедем за ними сами',name:'documents'},{title: 'Результат',text:'Курьер бесплатно привезет вам оценку или заберите ее у нас в офисе',name:'result'}]


-const exp1 = {text: 'Автотехническая',	price: 'от 8000 р.'};
-const exp2 = {text: 'Оценочная',	price: 'от 4000 р.'};
-const exp3 = {text: 'Подчерковедческая',	price: 'от 15000 р.'};
-const exp4 = {text: 'Строительно-техническая',	price: 'от 10000 р.'};
-const exp5 = {text: 'Товароведческая',	price: 'от 4000 р.'};

-const exp = [exp1, exp2, exp3, exp4, exp5]

-const s1 = 'Эксперт-техник';
-const s2 = 'Товаровед';
-const s3 = 'Оценка имущества';
-const s4 = 'Судебный эксперт';
-const s5 = 'Оценка ущерба';
-const s6 = 'Оценка бизнеса';
-const s7 = 'Оценка оборудования';
-const s8 = 'Строительно-техническая экспертиза';

-const practice1 = ['Опыт работы с 2012 г.','Высшее образование по специальности: «Экономика».'];
-const practice2 = ['Высшее образование по специальности: »Менеджмент».','Магистр Юриспруденции.  Квалификация оценщик имущества,','оценка бизнеса, свидетельство о членстве в СРО'];
-const practice3 = ['Опыт работы с 1979 года.','Высшее образование по специальности:','«Экономика и организация строительства».'];
-const practice4 = [];
-const practice5 = [];
-const practice6 = [];
-const practice7 = [];


-const slide1 = ['slide1-1','slide1-2','slide1-3','slide1-4','slide1-5'];
-const slide2 = ['slide2-1','slide2-2','slide2-3','slide2-4'];
-const slide3 = ['slide3-1','slide3-2','slide3-3'];
-const slide4 = [];
-const slide5 = [];
-const slide6 = [];
-const slide7 = [];

-const unit1 = {slide: slide1,img: 'unit1', name: `Евгений Сазонов`,career:'генеральный директор',skill:[s1,s2,s3,s4], practice:practice1};
-const unit2 = {slide: slide2,img: 'unit2', name: 'Юлия Сазонова',career:'заместитель генерального директора',skill:[s3,s5,s6,s4], practice:practice2};
-const unit3 = {slide: slide3,img: 'unit3', name: 'Сергей Константинов',career:'эксперт-строитель',skill:[s3,s5,s7,s8], practice:practice3};
-const unit4 = {slide: slide1,img: 'unit1', name: 'Николай Давыдов',career:'эксперт-строитель',skill:[s3,s5,s7,s8], practice:practice1};
-const unit5 = {slide: slide1,img: 'unit1', name: 'Лидия Матвеева',career:'эксперт-строитель',skill:[s3,s5,s7,s8], practice:practice1};
-const unit6 = {slide: slide1,img: 'unit1', name: 'Владимир Змановский',career:'эксперт-строитель',skill: [s3,s5,s7,s8], practice:practice1};
-const unit7 = {slide: slide1,img: 'unit1', name: 'Татьяна Смирнова', career:'помощник оценщика',skill:[s3,s5,s7,s8], practice:practice1};


-const unit = [unit1,unit2,unit3,unit4,unit5,unit6,unit7]

-const consultation = ['Бесплатную юридическую консультацию','Помощь в решении вашей проблемы, рассмотрение всех вариантов','Подробное разъяснение плана достижения желаемой цели'];

-const faq1 = {header: 'Что выдается по результатам оценки, экспертизы?', panel: ['Результатом оказания услуги является предоставление Заказчику отчета об оценке, экспертного заключения, либо заключения специалиста, составленного в письменной форме на русском языке и оформленного в соответствии с требованиями законодательства РФ.','Заключение выдается в 1 экземпляре, если необходимо несколько экземпляров, просим Вас заранее предупреждать об этом.']}

-const faq2 = {header: 'Как долго проводится экспертиза или оценка?', panel: ['Каждое проводимое экспертами Центра исследование уникально и у каждого свой срок проведения, и он зависит от вида и объема исследуемых материалов.','Средний срок проведения исследования составляет 10 рабочих дней, он может быть сокращен по пожеланию клиента. В разделах «Экспертизы» вы можете подробнее ознакомиться со сроками проведения исследований и ценами.']}

-const faq3 = {header: 'Чем отличается судебная экспертиза от внесудебной?', panel: ['Процедура бывает судебной и внесудебной. В последнем случае выполняется, к примеру, для подачи претензии или искового заявления в суд. Обычная независимая оценка или экспертиза может проводиться по желанию физических или юридических лиц, до начала судебного процесса.','Судебная экспертиза может быть назначена в арбитражном и гражданском процессе только -судом, в уголовном - судом, следователем, дознавателем. Никакое иное лицо не вправе назначать судебную экспертизу. Однако сторона имеет право заказать внесудебное исследование специалиста и после, ходатайствовать о его приложении к материалам дела.','Суд может отклонить ходатайство о приобщении заключения без объяснения причин отклонения, но может и удовлетворить это ходатайство. Если суд принимает заключение то оно будет приравнено к письменным доказательствам (ст. 71 ГПК РФ, ст. 75 АПК РФ) или иным документам (ст. 84 УПК РФ).']}

-const faq4 = {header: 'Как мне назначить у вас судебную экспертизу?', panel: ['Чтобы назначить судебную экспертизу в нашем Центре независимой экспертизы и оценки «Стратегия оценки», Вам необходимо связаться с нами, предоставить подробности и номер дела в суде.','В кратчайшие сроки наши специалисты подготовят информационное письмо в суд о возможности проведения судебной экспертизы в нашем Центре, с указанием всей необходимой информации. Мы отправим это письмо Вам или в суд по электронной или обычной почте, так же Вы сможете лично приехать и забрать письмо в нашем офисе.']}

-const faq5 = {header: 'Как правильно задать вопросы для экспертизы?', panel: ['С примерным перечнем вопросов Вы можете ознакомиться в разделах «Экспертизы». В них подробно описаны все проводимые Центром экспертизы и перечень наиболее актуальных вопросов.','Если вопросы Вам не подходят, то просто закажите обратный звонок, наши эксперты Вам обязательно помогут.']}

-const faq6 = {header: 'Можно ли провести оценку без осмотра объекта?', panel: ['Да, в ряде случаев, осмотр объекта не обязателен, например при оценке имущества для нотариуса, оценке земельных участков.']}

-const faq7 = {header: 'Что входит в отчет об оценке? Что я получу в результате оценки?', panel: ['Итогом нашего сотрудничества является "Отчет об оценке". Это документ размером до 200 страниц, имеющий регламентированную структуру и разделы:','Задание на оценку ;','Ограничения и пределы полученного результата;','Глоссарий (расшифровка терминов);','Анализ рынка объекта оценки;','Расчет стоимости объекта ;','Итоговые выводы;','Приложения.']}

-const faq8 = {header: 'Могу ли я получить копию ваших разрешительных документов?', panel: ['Полный комплект разрешительных документов приобщается к каждому отчету об оценке.']}

-const faq = [faq1,faq2,faq3,faq4,faq5,faq6,faq7,faq8];
