extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	-const current = 'Братск'
	-const location = {id:'bratsk',link:'+79025432294',tel:'8 9025 432294',mail:'brt.ocenka@mail.ru',addr:['г. Братск, ул. Южная, д.33а, офис 08'],name:'Братск'};
