extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	-const current = 'Иркутск'
	-const location = {id:'irkutsk',link:'+73952435001',tel:'8 3952 435001',mail:'irk.ocenka@mail.ru',addr:['г. Иркутск, ул. Ширямова, д.22, офис 302'],name:'Иркутск'};
