extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	-const current = 'Красноярск'
	-const location = {id:'krasnoyarsk',link:'+73912347778',tel:'8 3912 347778',mail:'krs.ocenka@mail.ru',addr:['г. Красноярск, переулок Афонтовский, д.7, офис 215','г. Красноярск, ул. Линейная, д. 89, офис Ц.2-05'],name:'Красноярск'};
