section.discount
	.discount__inner.container
		h2.discount__title.title Получите
			|
			|
			span.orange скидку&nbsp;10%
			br
			| при&nbsp;обращении с&nbsp;сайта

		.discount__quick-wrap
			include ../modules/quick
