section.promo
		.promo__top.container
			h1.promo__title Независимые
				br
				|
				| экспертизы и оценка
				|
				br
				span.orange от 1 дня в
					|
					|
					span.promo__city= current
						| е
			a.promo__link.consultation-btn(href="#") Получить консультацию
		.promo__inner
			figure.promo__img-wrap
				+img-retina(`promo-bg`, `jpg`, `Эксперты`, `promo__img`, `1440`, `490`, '1200', '600')
