section.reviews
	.reviews__inner.container
		h2.reviews__title.title
			|
			|
			span.orange Отзывы
			|
			| наших клиентов с&nbsp;сервиса 2гис

		.sw-app.reviews__app(data-app="d587bd33ffd38f2f9eeb7cd35790a017")
