section.reviews
	.reviews__inner.container
		h2.reviews__title.title Отзывы наших клиентов с сервиса 2гис

		ul.reviews__list
			while n<15
				li.reviews__item.reviews-card
					.reviews-card__header
					p.reviews-card__text
					.reviews-card__bottom

				-n++
			-n=0
