@font-face {
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  src: url("/fonts/ProximaNova-Regular.woff") format("woff");
  font-family: ProximaNova;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
  src: url("/fonts/ProximaNova-Semibold.woff") format("woff");
  font-family: ProximaNova;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Raleway-Light.woff2") format("woff2");
  src: url("/fonts/Raleway-Light.woff") format("woff");
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
  src: url("/fonts/Raleway-Regular.woff") format("woff");
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Raleway-Semibold.woff2") format("woff2");
  src: url("/fonts/Raleway-Semibold.woff") format("woff");
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Stolzl-Book.woff2") format("woff2");
  src: url("/fonts/Stolzl-Book.woff") format("woff");
  font-family: Stolzl;
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Stolzl-Medium.woff2") format("woff2");
  src: url("/fonts/Stolzl-Medium.woff") format("woff");
  font-family: Stolzl;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/SuisseIntl-Book.woff2") format("woff2");
  src: url("/fonts/SuisseIntl-Book.woff") format("woff");
  font-family: SuisseIntl;
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2");
  src: url("/fonts/SuisseIntl-Regular.woff") format("woff");
  font-family: SuisseIntl;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "SuisseIntl", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  line-height: 1;
  font-weight: 400;
  background-color: #ffffff;
  color: #20262f;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input,
button,
select,
a,
textarea,
label,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset {
  border: none;
  padding: 0;
}

button:focus,
input:focus,
a:focus {
  outline: none;
}

button {
  border: none;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1282px;
}

.doc {
  background-color: #fff;
  overflow-y: scroll;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.doc__wrapper {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 80px;
}

.doc h1 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 2rem;
}

.doc p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.doc p + p {
  margin-top: 20px;
}

.doc li {
  list-style: auto;
}

.doc li + li {
  margin-top: 10px;
}

.doc ul {
  padding-left: revert;
}

.doc ul + p {
  margin-top: 20px;
}

.doc + h3 {
  margin-top: 60px;
}

.doc h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 60px;
}

.doc__line {
  height: 1px;
  display: block;
  background-color: #e0e3ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 33px;
  margin-bottom: 33px;
}

.doc hr + p {
  color: #90969e;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=style-doc.css.map */
