doctype html
html(lang="ru")
  include ../helpers/arrays
  include ../helpers/data
  include ../modules/_head
    include ../modules/_style

  body.page-body
    //- include ../helpers/arrays
    block content
    include ../modules/_header

    main.page-main
      include ../modules/preloader
      include ../sections/promo
      include ../sections/services
      include ../sections/discount
      include ../sections/process
      include ../sections/team
      include ../sections/law
      include ../sections/reviews
      include ../sections/faq
      include ../sections/contacts
      include ../sections/search

      include ../modules/_modal_consultation
      include ../modules/_modal_success
      include ../modules/_modal_err
      include ../modules/_modal_politik

    include ../modules/_footer

    include ../modules/_scripts
